.Collabrated
  {
    text-align:center;
    margin-top: 4rem;
    margin-bottom: 1rem;
  }
  .focus
  {
    text-align: center;
    font-size: 2.5rem;
    border: 5rem;
    padding:5rem 2rem 2rem 2rem;
    font-weight:500;
  }
  .about__cards{
    justify-content: space-around;
  }
  .img
  {
    flex-shrink: 0;
    min-width: 50%;
    min-height: 50%;
    border: 5px solid rgb(172, 171, 171); 
  }
  .img1 {
    width: 250px;
    height: 200px;
    border: 2.5px solid rgb(194, 192, 192); 
    transition: transform .7s;
  }
  .img1:hover
  {
    transform: scale(1.02);
  }
  .caption {
    display: block;
    color:orange;
    padding:1rem 0rem;
    font-weight: 500;
    transition: transform .7s;
    font-size: 1.5rem;
  }
  .caption:hover
  {
      transform:scale(1.2);
  }
  .green
  {
    color:green;
  }
  
