body{
  background-image: url('../../assets/Blank\ Background\ 3.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.nav,
.nav:hover {
  color: inherit;
  text-decoration: none;
  color: white;
}
a,
a:hover {

  text-decoration: none;

}

.ctr{
 margin: auto;
}
.navs {
  display: inline-flex;
}

.row-custom{
  margin: 0 !important;
}
.margin-card{
  margin: 1rem;
  margin-bottom: 3rem !important;
}
.event-div{
  min-height: 42vh;
  width: 80% !important;
}


.card img{
  width: 100%;
  height: 60%;
}

.title-div{
  min-height: 21% !important;
}

.card-header{
  margin-bottom: 0 !important;
  height: 19%;
  border-bottom: none !important;
  display: flex;
  align-items: center;
  padding-left: 1 rem;
}

.card-banner{
  height: 42vh;
}
