.events {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../assets/Blank\ Background\ 3.png");
  /* position: fixed;
    left: 0;
    top: 0; */
}
.events__cardOutline {
  display: flex;
  justify-content: center;
  align-items: center;
}
.events__upcomingCard {
  background: linear-gradient(to right, #2a84d2ab, #2b304670, #17212c9c);
  display: flex;
  padding: 20px;
  width: 800px;
  color: #fff;
  margin-top: 4rem;
  position: relative;
}
.events__upcomingCard img {
  width: 350px;
  height: 250px;
  border-radius: 20px;
}
.events__upcomingCardinfo {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}
.events__upcomingCardinfo h2 {
  font-size: 1.4rem;
  margin-top: 25px;
}
.events__upcomingCardinfo p {
  margin-top: 15px;
  font-size: small;
  padding-right: 3rem;
}
.events__upcomingCard-btn1 {
  width: fit-content;
  margin-left: auto;
  position: absolute;
  top: -20px;
  right: 10px;
  border: none;
  border-radius: 25px;
  background-color: #007cc7;
  color: #fff;
  font-size: medium;
  outline: none;
  padding: 8px 40px;
}
.events__upcomingCard-btn2 {
  width: fit-content;
  margin-left: auto;
  margin-top: 25px;
  border: none;
  border-radius: 25px;
  background-color: #ff8736;
  color: #fff;
  font-size: medium;
  outline: none;
  padding: 2px 20px;
}
.events__upcomingCardTiming {
  display: flex;
  align-items: center;
  justify-content: center;
}
.events__upcomingCardTiming p {
  margin: 0;
  font-size: x-small;
  margin: 4px 15px;
  font-weight: bold;
}
.events__upcomingCardIcon {
  width: 50px;
  height: 50px;
  color: black;
}

/* media queries */
@media (max-width: 800px) {
  .events__upcomingCard {
    width: 700px;
  }
}
@media (max-width: 650px) {
    .events{
        height: auto;
    }
  .events__upcomingCard {
    flex-direction: column;
    /* width: 400px; */
  }
  .events__upcomingCard img {
    width: 400px;
    margin: auto;
    height: 250px;
  }
  .events__upcomingCardTiming {
    justify-content: flex-start;
  }
  .events__upcomingCard-btn1 {
    padding: 6px 40px;
    top: -25px;
  }
}
@media(max-width: 400px){
    .events__upcomingCard img {
        width: 300px;
      }
}