.footer-styling a {
  color: #000 !important;
}
.footer-styling a:hover {
  color: #000;
}
footer {
  background-color: #edfbfb;
  padding: 1rem;
}
footer h3 {
  font-size: 1rem;
  text-decoration: underline;
  font-weight: normal;
}
footer .container {
  display: flex;
  justify-content: space-around;
  max-width: 70%;
}
.footer-link-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer-link-group a{
  margin: 3px;
}
.footer-link-group a:last-child {
  border-radius: 5px;
  padding: 0 5px;
  border : 1px solid black;
}
.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-logo h2 {
  margin: 0;
}
.footer-logo-text {
  margin-left: 0.5rem;
}
@media screen and (max-width: 1200px) {
  footer .container {
    max-width: 85%;
  }
}

@media screen and (max-width: 992px) {
  footer .container {
    max-width: 95%;
  }
}
@media screen and (max-width: 768px) {
  footer .container {
    flex-wrap: wrap;
  }
  .footer-logo {
    width: 100%;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 576px) {
  footer .container {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }
  .footer-link-group {
    margin: 0.5rem auto;
    align-items: center;
  }
}

.footer-link-group a {
  position: relative;
  color: #000;
  text-decoration: none;
}

.footer-link-group a:hover {
  color: #000;
  text-decoration: none;
}

.footer-link-group a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1.75px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.footer-link-group a:hover::before {
  transform: scaleX(1);
}

.social-media-links > h3,
.other-links > h3 ,.footer-link-group > h3 {
  background-color: var(--dark);
  color: #edfbfb !important;
  border-radius: 5px;
  padding: 0 5px;
  text-decoration: none;
}
