.hackCard {
  max-width: 300px;
  height: 215px;
  position: relative;
  background-color: rgba(255, 255, 255,0.1);
  box-shadow: 0 25px 45px rgba(0,0,0,0.25);
  margin: 30px 25px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease;
  cursor: pointer;
  color: #663F3F;
  backdrop-filter: blur(25px);
}
.hackCard:hover {
  height: 350px;
}
.hackCard__img {
  position: relative;
  width: 260px;
  height: 260px;
  top: -40px;
  left: 6px;
}
.hackCard__img span{
  position: absolute;
  background-color: #12232E;
  color: #fff;
  left: -21px;
  top: 200px;
  font-size: 11px;
  font-weight: bold;
  transition: all 0.3s ease;
  visibility: hidden;
}
.hackCard:hover .hackCard__img img{
    transform: scale(1.02);
}
.hackCard__img img {
  max-width: 100%;
  border-radius: 10px;
  transition: all 0.8s ease;
  box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.75);
}
.hackCard__content {
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;
}
.hackCard:hover .hackCard__content {
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
}
.hackCard:hover .hackCard__img span{
  top:50px;
  visibility: visible;
}
.hackCard h2 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 10px;
}
.hackCard h2 span {
  font-size: small;
  background-color: #12232e;
  padding: 2px 4px;
  color:white;
}
.hackCard p {
  font-size: 0.9rem;
  line-height: 1.2;
  margin-bottom: 10px;
}
.hackCard button {
  width: 100%;
  border: none;
  outline: none;
  color: white;
  margin-top: 10px;
  background-color: #12232e;
  padding: 4px 0;
  border-radius: 5px;
  transition: all 0.3s ease;
  text-transform: capitalize;
}
.hackCard button:hover {
  background-color: #162c3a;
}

@media (max-width: 800px) {
  .hackCard {
    height: 350px;
  }
  .hackCard__content {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
  }
  .hackCard__img span{
    top:50px;
    visibility: visible;
  }

}
