.Home, .parent,.home__team {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}
.Home{
  background-image: url("../../assets/Blank\ Backgrounds\ 1.png");
}
.parent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  padding: 15vh 5vh 15vh 5vh;
}
.daughter img {
  width: 735px;
}
.son__Para{
  color: #663F3F;
  ;
}
.son__Para h3{
  font-size: 40px !important;
  font-weight:bold;
  font-family: "Arial";
}
.son__Para h3 span{
  color: #A45D5D;
  font-family: "Raleway";
  font-size: 80px;
}
.home__about{
  background-color: #FFC069;
  width: 100%;
  color: #fff;
  padding: 2.3rem 4rem;
}
.home__aboutInfo{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
}
.home__aboutInfo h3{
  font-size: 40px;
}
.home__aboutInfo h3 span{
color: #4A403A;
}
.home__aboutInfo p{
  font-size: 20px;
  width: 1000px;
  margin: auto;
  text-align: center;
  margin-top: 1rem;
}
.home__aboutCards{
  display: flex;
  justify-content: space-around;
  width: 1000px;
  margin:auto;
  flex-wrap: wrap;
}
.home__aboutCard1{
  background-color: rgb(255, 255, 255);
  color: #000000;
  padding: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 5px;
  margin-top: 1rem;
}
.home__aboutCard1:hover{
  transform: translateY(-6px);
}
.home__aboutCard1 > img{
width: 225px;
height: 200px;
border-radius: 5px;
}
.home__aboutCard1 > h5{
text-align: center;
margin-top: 19px;
margin-bottom: 19px;
font-size: 1rem;
text-transform: capitalize;
font-weight: 600;
}
.home__team{
  background-image: url('../../assets/Blank\ Backround\ 5.png');
  
   background-color: #663F3F;
  padding: 3rem 4rem;
}
.home__team h3{
  text-align: center;
  margin-bottom: 2rem;
  color: white;
  font-size: 40px;
}
.home__team h3 span{
color: #FFC069;
}
.home__teamCards{
  display: flex;
  width: 1020px;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
}
.home__teamCardsContributor{
  margin-top: 4rem;
  width: 1020px;
  margin: auto;
}
.home__teamCardsContributor h3{
  text-align: left;
  font-size: 30px;
  margin-top: 4rem;
}
@media (max-width: 1612px) {
  .son__Para h3{
    font-size: 50px;
  }
}

@media (max-width: 1358px) {
  .daughter img {
    width: 600px;
  }
}

@media (max-width: 1098px) {
  .daughter img {
    width: 500px;
  }
  .son__Para h3{
    font-size: 35px;
  }
  .home__aboutInfo p,.home__aboutCards,.home__teamCards,.home__teamCardsContributor{
    width: auto;
  }
  .home__teamCardsContributor h3{
    text-align: center;
  }
}

@media (max-width: 920px) {
  .daughter {
    text-align:center;
    max-width: none !important;
    padding-top: 5vh;
  }
  .parent {
    display: block;
    padding-top: 5.2vh;
  }
  .son {
    max-width: none !important;
    text-align: center !important;
  }
  .son__Para h3 span{
    color: #fff;
  }
}

@media (max-width: 650px) {
  .daughter img {
    width: 400px;
  }
}
@media (max-width: 550px) {
  .daughter img {
    width: 320px;
  }
}
@media (max-width: 468px) {
  .daughter img {
    width: 280px;
  }
  .home__aboutInfo p{
    font-size: medium;
  }
}
@media (max-width: 430px) {
  .daughter img {
    width: 220px;
  }
}
@media (max-width: 430px) {
  .daughter img {
    width: 150px;
  }
}
