.Home, .parent {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.Home{
  background-image: url("../../assets/ex-header-background.jpg");
  left: 0;
  top: 0;
}
.parent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  padding: 0vh 10vh 30vh 10vh;
}
.daughter img {
  width: 750px;
}
.son__Para h3{
  color: black;
  font-size: 70px;
  font-weight:bold;
  font-family: "Arial";
}
.son__Para h3 span{
  color: #1cbdd6;
  font-family: "Raleway";
}

@media (max-width: 1612px) {
  .son__Para h3{
    font-size: 50px;
  }
}

@media (max-width: 1358px) {
  .daughter img {
    width: 600px;
  }
}

@media (max-width: 1098px) {
  .daughter img {
    width: 500px;
  }
  .son__Para h3{
    font-size: 35px;
  }
}

@media (max-width: 920px) {
  .daughter {
    text-align:center;
    max-width: none !important;
    padding-top: 5vh;
  }
  .parent {
    display: block;
    padding-top: 5vh;
  }
  .son {
    max-width: none !important;
    text-align: center !important;
  }
  .son__Para h3 span{
    color: #fff;
  }
}

@media (max-width: 650px) {
  .daughter img {
    width: 400px;
  }
}
@media (max-width: 550px) {
  .daughter img {
    width: 320px;
  }
}
@media (max-width: 468px) {
  .daughter img {
    width: 280px;
  }
}
@media (max-width: 430px) {
  .daughter img {
    width: 220px;
  }
}
@media (max-width: 430px) {
  .daughter img {
    width: 150px;
  }
}
