.Home {
  background-image: url("../../assets/ex-header-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.parent {
  position: fixed;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  padding-left: 10vh;
  padding-right: 10vh;
  padding-bottom: 30vh;
}

.daughter {
  text-align: center;
}

.daughter img {
  width: 750px;
}

div#Home span.codeflow-text {
  color: #1cbdd6;
  font-size: 70px;
  font-family: "Raleway";
}

div#Home span.learning-text {
  color: black;
  font-size: 70px;
  font-family: "Arial";
}

div#Home span.break {
  display: block;
  margin-bottom: 0em;
}

@media (max-width: 1612px) {
  div#Home span.codeflow-text {
    color: #1cbdd6;
    font-size: 50px;
    font-family: "Raleway";
  }

  div#Home span.learning-text {
    color: black;
    font-size: 50px;
    font-family: "Arial";
  }
}

@media (max-width: 1358px) {
  .daughter img {
    width: 600px;
  }
}

@media (max-width: 1098px) {
  .daughter img {
    width: 500px;
  }

  div#Home span.codeflow-text {
    color: #1cbdd6;
    font-size: 35px;
    font-family: "Raleway";
  }

  div#Home span.learning-text {
    color: black;
    font-size: 35px;
    font-family: "Arial";
  }
}

@media (max-width: 920px) {
  .daughter {
    max-width: none !important;
    padding-top: 5vh;
  }
  .daughter img {
    width: 500px;
  }
  .parent {
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    display: block;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    padding-left: 10vh;
    padding-right: 10vh;
    padding-bottom: 30vh;
    padding-top: 5vh;
  }
  .son {
    max-width: none !important;
    text-align: center !important;
  }

  div#Home span.codeflow-text {
    color: white;
    font-size: 35px;
    font-family: "Raleway";
  }

  div#Home span.learning-text {
    color: black;
    font-size: 35px;
    font-family: "Arial";
  }
}

@media (max-width: 650px) {
  .daughter {
    max-width: none !important;
    padding-top: 5vh;
  }
  .daughter img {
    width: 400px;
  }
  .parent {
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    display: block;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    padding-left: 10vh;
    padding-right: 10vh;
    padding-bottom: 30vh;
    padding-top: 5vh;
  }
  .son {
    max-width: none !important;
    text-align: center !important;
  }
}

@media (max-width: 550px) {
  .daughter {
    max-width: none !important;
    padding-top: 5vh;
  }
  .daughter img {
    width: 320px;
  }
  .parent {
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    display: block;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    padding-left: 10vh;
    padding-right: 10vh;
    padding-bottom: 30vh;
    padding-top: 5vh;
  }
  .son {
    max-width: none !important;
    text-align: center !important;
  }

  div#Home span.codeflow-text {
    color: white;
    font-size: 35px;
    font-family: "Raleway";
    display: block;
    margin-bottom: 0em;
  }

  div#Home span.learning-text {
    color: black;
    font-size: 35px;
    font-family: "Arial";
  }
}

@media (max-width: 468px) {
  .daughter {
    max-width: none !important;
    padding-top: 5vh;
  }
  .daughter img {
    width: 280px;
  }
  .parent {
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    display: block;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    padding-left: 10vh;
    padding-right: 10vh;
    padding-bottom: 30vh;
    padding-top: 5vh;
  }
  .son {
    max-width: none !important;
    text-align: center !important;
  }
}

@media (max-width: 430px) {
  .daughter {
    max-width: none !important;
    padding-top: 5vh;
  }
  .daughter img {
    width: 220px;
  }
  .parent {
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    display: block;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    padding-left: 10vh;
    padding-right: 10vh;
    padding-bottom: 30vh;
    padding-top: 5vh;
  }
  .son {
    max-width: none !important;
    text-align: center !important;
  }
}

@media (max-width: 430px) {
  .daughter {
    max-width: none !important;
    padding-top: 5vh;
  }
  .daughter img {
    width: 150px;
  }
  .parent {
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    display: block;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    padding-left: 10vh;
    padding-right: 10vh;
    padding-bottom: 30vh;
    padding-top: 5vh;
  }
  .son {
    max-width: none !important;
    text-align: center !important;
  }
}
