.teamCard {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  width: fit-content;
  margin: 0.6rem 0.6rem;
  padding: 15px 10px;
  width: 150px;
  cursor: pointer;
  height: 200px;
  word-break: break-word;
}
.teamCard:hover img {
  transform: scale(1.05);
}
.teamCard img {
  width: 100px;
  height: 100px;
  margin-left: 11%;
  border-radius: 50%;
  transition: all 0.3s ease;
}
.teamCard h5 {
  font-size: 1rem;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0rem;
  font-weight: 700;
}
.teamCard p {
  font-size: 0.9rem;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0rem;
  font-weight: 700;
}
