#testimonials {
  background-color: #fff;
  padding: 1rem;
}

#testimonials h1 {
  color: #FFC069;
  text-align: center;
}
.testimonial-wrapper {
  width: 89vw;
  margin: 2rem auto;
  position: relative;
}
.tesimonial-item {
  background-color: rgb(221, 217, 217);
  border-radius: 20px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  margin: 2rem;
  height: 320px;
  transition: all 0.3s ease-in;
}
.tesimonial-item:hover{
  background-color: #4A403A;
  color: white;
}
.tesimonial-item:hover .quote-icon{
  color: #fff;
}
.testimonial-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 1rem;
}
.testimonial-left .quote-icon {
  font-size: 3rem;
  color: #4A403A;
}
.testimonial-left img {
  border-radius: 50%;
  width: 75px;
}
.testimonial-right{
    display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.testimonial-right p {
  font-weight: 600;
  margin: 0;
}
.testimonial-icon {
  font-size: 5rem;
}
@media (max-width: 1300px) {
  .testimonial-wrapper {
    width: 80vw;
  }
}
@media (max-width: 650px) {
  .testimonial-wrapper {
    width: 90vw;
  }
}

@media (max-width: 450px) {
  .testimonial-wrapper {
    margin: 0;
  }
  .tesimonial-item {
    flex-direction: column;
    margin: 0.5rem;
  }
  .testimonial-left {
    flex-direction: row-reverse;
  }
}
