#up-coming-events {
  background-image: linear-gradient(
    to right,
    rgb(14 131 231 / 80%),
    rgba(0, 0, 0, 0)
  );
  width: 79%;
  margin: 13rem 10rem;
  height: 35rem;
  border: 0.5px solid white;
  /* box-shadow: -2px 0px 3px #0780db; */
  display: flex;
  flex-direction: row;
  max-width: 1504.94px;
  align-items: center;
  padding: 2.875rem;
  color: white;
}
#event-thumbnail {
  width: 56.7rem; /*38.7*/
  height: 30.6rem; /*23.6*/
  border-radius: 30px;
  margin-right: 2rem;
  background-color: #ceeeef;
  min-width: 450.359px;
  /* To just to align text*/
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

/* Remove this p tag */
#event-thumbnail p {
  color: black;
}
#event-details h2 {
  margin-bottom: 5rem;
}
#event-details {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
#event-venue {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  height: 100%;
}
#event-venue img {
  width: 8.375rem;
  position: relative;
}
#event-venue div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#event-venue div div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button[type="submit"] {
  background-color: #007cc7;
  width: 23%;
  position: relative;
  left: 61%;
  transform: translateY(-90px);
  border: none;
  border-radius: 3rem;
  padding: 1rem;
  width: 24rem;
  color: white;
  font-size: 1.357rem;
}
#category-button {
  transform: translateY(27px); 
  width: 8.375rem;
  padding: 0.3rem;
  align-self: flex-end;
  background-color: orange;
  border: none;
  border-radius: 3rem;
  color: white;
}
